
/*	CHECK THIS OUT:: 
	WEB FUNDAMENTALS BY GOOGLE DEV		https://developers.google.com/web/fundamentals/?hl=en */

html {
	box-sizing: border-box;
	background-color: #89725B;
}
*, *:before, *:after {		/*solves for inheritance! */
  box-sizing: inherit;
}
body {			/*do this! It gets rid of awkward default gaps*/
	font-family: Roboto, helvetica, arial, sans-serif;
	margin: 0;	
	padding: 0;
}

#headline {
  padding: 0.8em;
  color: white;
  background-color: gray;
  /*background-image: url(img/DeathtoStock_Simplify8.jpg);*/
  background-size: cover; /* stretches whilst maintaining the correct aspect ratio*/
}
 #headline h1 {
	font-weight: 200; /*GUESS*/
	font-size: 45px;	
	line-height: 1em; 	/*smaller line-height = closer lines*/
	margin-bottom: 0;
 }
 #headline #blurb {
    font-weight: 200;
    font-size: 18px;
}

#section1, #section2, #section3, #section4 {
	/*box-sizing: border-box;*/        /*does nothing*/ 
    margin: auto; 				/*does nothing*/
    padding: 20px;
	color: black;
    font-weight: 100;
	font-size: 18px;
}
#section1 h2, #section2 h2, #section3 h2, #section4 h2  {
	margin-top: 0;
	font-size: 24px
}

#section1 {
	background-color: white;
}
#section1 div img {
        width: 100%
}

#section2 {
	background-color: #e9e9e9;
	text-align: right;
}
#section2 img {
	width: 100%	
}

#section3 {
	background-color: #f5f5f5;
	text-align: center;
}
#section4 {
	background-color: #e9e9e9;
	text-align: right;
}
footer {
	font-weight: 300;
	text-align: center;
	background-color: hsl(8, 70%, 54%); /*wtf?*/
	color: white;
	padding-bottom: 12px;
	padding-top: 12px;
}


/* IMPORTANT IMPORTANT Media Queries! IMPORTANT IMPORTANT OH YEAH */
/* Change if the viewport is 600px or wider */
 @media screen and (min-width: 650px) {
	 
.container 	{			/*fabulous centers and constrains margin*/
			margin: auto;
			max-width: 800px; 
			}

#headline 	{
			padding: 20px 5%;	/* beef padding up a little */
			}

#section1 #section2, #section3 #section4 {
            padding: 10px 20% 80px 20%;
          } 
          #section1 h2, #section2 h2, #section3 h2, #section4 h2  {
            font-size: 50px
          }			
#section1 br, #section2 br, #section3 br, #section4 br {
			clear: both;
			}
		  
#section1 div img {
			width: 30%;
			margin: 1%;
			border-radius: 50% 50%;
			box-shadow: black 0px 0px 5px;
			}
#section2 p {
            box-sizing: border-box;
			text-align: left;
            float: left;
            padding-right: 1em;
            width: 45%;
          }
#section2 img {
			float: left;
			box-sizing: border-box;
			width: 45%;
			}

}




